@use "../utils/variables" as *;
@use "../utils/placeholders-typo" as *;

.footer {
  display: flex;
  flex-direction: column;
  padding: 22px 24px;
  background-color: $bg-color-dark;
  color: $text-color-white;

  a {
    color: white;

    &:hover {
      text-decoration: underline;
    }
  }

  &__logo {
    @extend %typography-logo;
    font-size: 1.125rem;
    margin-bottom: 0.6rem;
  }

  &__nav-item {
    margin-top: 0.4rem;
    font-weight: 400;

    &--partnership {
      font-weight: 500;
    }
  }

  &__nav-icon {
    width: 1.5rem;
  }
}
