@use "../utils/variables" as *;
@use "../utils/breakpoints" as *;

.card-container {
  margin-top: 1.5rem;
  display: flex;
  flex-direction: column;
  gap: 18px;

  @include desktop {
    flex-flow: row wrap;
    justify-content: space-between;
    gap: 52px;
  }
}

.card {
  border-radius: 10px;
  background-color: $bg-color-white;
  position: relative;

  @include desktop {
    width: 46%;
  }

  &:hover {
    transform: scale(1.01);
  }

  &__img {
    border-radius: 10px 10px 0 0;
    width: 100%;
    height: 174px;
    object-fit: cover;
  }

  &__badge {
    position: absolute;
    top: 15px;
    right: 15px;
    z-index: 10;
    background-color: $badge-card-bg-color;
    color: $badge-card-color;
    font-size: 0.875rem;
    font-weight: 500;
    padding: 0.4rem 0.7rem;
    border-radius: 2px;
  }

  &__body {
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
    padding: 12px 13px;
  }

  &__info-title {
    padding-bottom: 0.25rem;
  }

  &__info-city {
    font-size: 1.06rem;
  }
}
