$primary-color: #9356dc;
$secondary-color: #ff79da;
$tertiary-color: #99e2d0;

$bg-color: #eaeaea;
$bg-color-light: #f6f6f6;
$bg-color-dark: #353535;
$bg-color-white: #fff;

$text-color: #000;
$text-color-light: #353535;
$text-color-white: #fff;

$icone-color: #101010;
$icone-color-tuto: #7e7e7e;
$icone-color-tuto-hover: $primary-color;
