// ********* Colors *********

$purple: #9356dc;
$pink: #ff79da;
$pastel-green: #99e2d0;
$green: #008766;

$white: #fff;
$off-white: #f6f6f6;
$light-gray: #eaeaea;
$medium-gray: #7e7e7e;
$dark-gray: #353535;
$near-black: #101010;
$black: #000;

$color-primary: $purple;
$color-secondary: $pink;
$color-tertiary: $pastel-green;

$bg-color: $light-gray;
$bg-color-light: $off-white;
$bg-color-dark: $dark-gray;
$bg-color-white: $white;

$text-color: $black;
$text-color-light: $dark-gray;
$text-color-white: $white;

$icon-color: $near-black;
$icon-color-tuto: $medium-gray;
$icon-color-tuto-colored: $color-primary;

$badge-card-color: $green;
$badge-card-bg-color: $pastel-green;

// ********* Shadows *********
$btn-shadow: 0 4px 10px rgba(0, 0, 0, 0.15);
$main-shadow: 0 4px 15px rgba(0, 0, 0, 0.15);
